<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <h3>Item list</h3>
    <p class = "text-left">Welcome to the item CRUD. Click on the button bellow to add a new Item, click on create new warehouse to create a new warehouse or click on the Warehouse list to check the items per warehouse
    </p>
    <a href ="/add" class="btn btn-success btn-sm>">
      <i class="fas fa-trash-alt"></i>&nbsp;Add Item
    </a>
    <a href ="/addWarehouse>" class="btn btn-success btn-sm>">
      <i class="fas fa-trash-alt"></i>&nbsp;Add Warehouse
    </a>
    <a href ="/warehouseList>" class="btn btn-success btn-sm>">
      <i class="fas fa-trash-alt"></i>&nbsp;Warehouse List
    </a>
    <table class = "table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% for(let count=0; count < items.length; count++) { %>
            <tr>
              <th scope="row">
                <%=count + 1%> 
              </th>
              <td>
                <%=items[count].Name%>
              </td>
              <td>
                $<%=items[count].Price%>
              </td>
              <td>
                <a href ="/edit/<%=items[count]._id %>" class="btn btn-warning btn-sm>">
                  <i class="fas fa-trash-alt"></i>&nbsp;Edit
              </a>
              </td>
              <td>
                <a href ="/delete/<%=items[count]._id %>" class="btn btn-danger btn-sm>">
                  <i class="fas fa-trash-alt"></i>&nbsp;Delete
              </a>
              </td>
            </tr>
            <% }%>
      </tbody>
    </table>
  </body>
</html>
